<div class="post-meta">
    <div class="post-meta-line">
        {{- $categories := slice -}}
        {{- range .Params.categories -}}
            {{- $category := partialCached "function/path.html" . . | printf "/categories/%v" | $.Site.GetPage -}}
            {{- $categories = $categories | append (printf `<a href="%v"><i class="far fa-folder fa-fw" aria-hidden="true"></i>%v</a>` $category.RelPermalink $category.Title) -}}
        {{- end -}}
        {{- with delimit $categories "&nbsp;" -}}
            &nbsp;<span class="post-category">
                {{- dict "Categories" . | T "includedInCategories" | safeHTML -}}
            </span>
        {{- end -}}
    </div>
    <div class="post-meta-line">
        {{- with .Site.Params.dateformat | default "2006-01-02" | .PublishDate.Format -}}
            <i class="far fa-calendar-alt fa-fw" aria-hidden="true"></i>&nbsp;<time datetime="{{ . }}">{{ . }}</time>&nbsp;
        {{- end -}}
        <i class="far fa-clock fa-fw" aria-hidden="true"></i>&nbsp;{{ T "readingTime" .ReadingTime }}&nbsp;
    </div>
</div>