$global-font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI Variable Display", "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";

// color pallete
$color-white: #ffffff;
$color-cultured: #eeeeee;
$color-jet: #353535;
$color-smoky-black: #161209;

$color-light-red: #F87575;
$color-ocean-green: #43c59e;
$color-beau-blue: #bacede;
$color-cerulean_frost: #6d98ba;
$color-blue-green: #4699b8;
$color-charcoal: #383f51;

$global-background-color: #ffffff;
$header-background-color: #ffffff;

$global-font-color: #161209;
$global-link-color: #161209;
$global-link-color-dark: #a9a9b3;

// link
$global-link-hover-color: #4699b8;
$single-link-color: #4699b8;
$single-link-hover-color: #F87575;
$pagination-link-color: #4699b8;

$global-link-hover-color-dark: #55bde2;
$single-link-color-dark: #55bde2;
$single-link-hover-color-dark: #bdebfc;
$pagination-link-color-dark: #55bde2;

$header-background-color-dark: #252627;

// md custom colors
$indent-color: #383f51;
$indent-color-dark: #383f51;

$global-border-color: #d7d7d5;
$global-border-color-dark: #383f51;

$blockquote-color: #d7d7d5;
$blockquote-color-dark: #383f51;