{{- $key := .Get 0 -}}
{{- if and .Page.Params.references (reflect.IsMap .Page.Params.references) (not (findRE "^[0-9]+$" $key)) -}}
    {{- $refs := .Page.Params.references -}}
    {{- $keys := slice -}}
    {{- range $k, $v := $refs -}}
        {{- $keys = $keys | append $k -}}
    {{- end -}}
    {{- $keys = sort $keys -}}
    {{- $num := 1 -}}
    {{- range $keys -}}
        {{- if eq . $key -}}
            <sup><a href="#ref-{{ $key }}">[{{ $num }}]</a></sup>
        {{- end -}}
        {{- $num = add $num 1 -}}
    {{- end -}}
{{- else -}}
    <sup><a href="#reference-{{ $key }}">[{{ $key }}]</a></sup>
{{- end -}}
